<footer class="page-footer" style="background-color: red;">
    <div class="container" >
        <div class="row" style="size: inherit;">
            <div class="col l6 s12">
                        <a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/ScrapeandNote"><h3>GitHub Repo</h3></a>
         
            
            </div>
        </div>
    </div>
    </div>
</footer>