<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape and Note</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href=".public/css/scrape.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./public/app.js"></script>
</head>
<footer class="purple lighten-4">
   
        <div class="container">

            <div class="row">
                <div class="col l12">
                    <a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/ScrapeandNote">
                        <h3>GitHub Repo</h3>
                    </a>


                </div>
            </div>
        </div>
    </div>

</footer>

</html>