<header>
    <nav class="purple lighten-4">
        <div class="nav-wrapper">


            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a href="/scraped.handlebars">
                        <h4>Scrape Articles</h4>
                    </a></li>
                <li><a href="/views/saved.handlebars">
                        <h4>Saved Articles</h4>
                    </a></li>
            </ul>
            <div>

            </div>
        </div>
    </nav>
</header>