<div id="container text-center" style="margin-left:15px">
      <div class="row">
        <div class="col-xs-12">
          <h1><strong>Scrape NPR.org</NPR></strong></h1>
        </div>
      </div>
      <div class="row">
        <div class="col s12">
          <button id="scrape-button">Scrape for Articles in the Daily Universe</button>
          <a href="/saved"><button style="margin-left: 5px;">Saved Articles</button></a>
        </div>
      </div>
      <div class="divider"></div>
      <div class="row">
        <div class="col s6"></div>     
        <div class="col s6">
            <div id="logo" style="margin-left: ; margin-top: 30px;"></div>
        </div>
      </div>
    </div>