<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scrape and Note</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href=".public/css/scrape.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="./public/app.js"></script>
</head>
<body>
    {{{body}}}
</body>
<footer class="page-footer">
    <div class="container">
        <div class=""
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Scrape and Note</h5>
                <p class="grey-text text-lighten-4">
                </p>
            </div>
            <div class="col l4 offset-l2 s12">
                
                <ul>
                    
                    <li><a class="grey-text text-lighten-3" href="https://github.com/AmandaAmos/ScrapeandNote">GitHub Repo</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            2020 Created for FSWD BCS
            
        </div>
    </div>
</footer>
</html>